
body{
	margin:0;
	padding:0;
}

div#about{ 
	background-color:rgb(252, 246, 246);
	font-family: Arial, Helvetica, sans-serif;
	font-size:13px;
	text-align:center;
	padding-top:11%;
	padding-bottom:13%;
	color:#555;
	line-height:160%;
}

ul#aboutul{
	list-style-type:none;
	height:auto;
}

li.aboutli {
	display:inline-block;
	vertical-align:top;
	text-align:center;
	max-width:28%; 
	height:auto;
	padding-right:5%;
}

.title_description{
	color:rgb(32, 22, 21);
}

.text{
	padding-left:5%;
	padding-right:5%;
	max-width:90%;
	color:rgb(87, 82, 98);
}

.img_circles{
	max-width:40%;
	min-width:35%;
	height:auto;
}

	