@charset "UTF-8";
/*  Art */

/*Div that contain all the art*/
.container_art{
  position: relative;
  width: 100%;
}
/*div that contain the menu with pictures*/
.container_art2{
  position: relative;
  width: 100%;
  top:20%;
  background-color: pink;
}
/*Pictures in display*/
.pictures{
  position: relative;
    left:20%;
    display: none;
}
/*Css preload to only show one image and artist*/
#princi{
  display: block;
}
/**/
.principal_picture{
  position: relative;
  width: 80%;
}

/*to dont display display all the artist*/
.pictures_artist{
  display: none;
}

/*button of next*/
.next{
  position: relative;
  border-radius: 12px;
  left:70%;
  bottom:100%;
}
/*button of after*/
.after{
  position: relative;
  border-radius: 12px;
  left:14%;
}