@charset "UTF-8";
/*  Art */

/*Div that contains all the art*/
.container_art{
  position: relative;
  width: 100%;
  background-color:#281f1c;
}
/*div that contains the menu with pictures*/
.container_art2{
  position: relative;
  width: 100%;
  top:20%;
  background-color: #e52253;
}
/*Pictures in display*/
.pictures{
  position: relative;
  text-align:center;
    left:20%;
    display: none;
}
/*Css preload to only show one image and artist*/
#princi{
  display: block;
}
/**/
.principal_picture{
  position: relative;
  width: 80%;
}

/*to dont display display all the artist*/
.pictures_artist{
  display: none;
  font-family:Arial, Helvetica, sans-serif;
  color:#fcf6f6;
}

/*button of next*/
.next{
  position: relative;
  border-radius: 12px;
  left:70%;
  bottom:100%;
}
/*button of after*/
.after{
  position: relative;
  border-radius: 12px;
  left:14%;
}