@charset "UTF-8";
/*  Art */

/*Div that contains all the art*/
.container_art{
  position: relative;
  width: 100%;
  background-color:#281f1c;
}
/*div that contains the menu with pictures*/
.container_art2{
  position: relative;
  width: 100%;
  top:20%;
  background-color: #e52253;
}
/*Pictures in display*/
.pictures{
  position: relative;
  margin:auto;
  left:0;
  right:0;
  top:0;
  bottom:0;
  display: none;
}
/*Css preload to only show one image and artist*/
#princi{
  display: block;
}
/**/
.principal_picture{
  position: relative;
  width: 100%;
}

/*to avoid displaying all the artist*/
.pictures_artist{
  display: none;
  font-family:myFont, sans-serif;
  color:#fcf6f6;
  text-align:center;
}

/*"Next" button*/
.next{
  position: relative;
  border-radius: 12px;
  left:80%;
  bottom:100%;
}
/*"After" button*/
.after{
  position: relative;
  border-radius: 12px;
  left:15%;
}
