
body{
	margin:0;
	padding:0;
}

#contact{
	background-color:#281f1c;
	font-family: myFont, sans-serif;
	font-size:13px;
	text-align:center;
	line-height:200%;
	padding-left:3%;
	padding-top:5%;
	color:#fcf6f6;
}
h1#coffeeShop{
	font-size:170%;
	text-align:left;
	padding-left:3%;
}
p#adress{
	text-align:left;
	padding-left:3%;
}
.block{
	display:inline-block;
	vertical-align:top;
	width:47%;
}
#phone{
	padding-top:8%;
	text-align:left;
	padding-left:3%;
}
#map{
	width:95%;
	height:300px;	
	text-align:left;
}
#facebook{
	width:95%;
	height:513px;
	border:none;
	overflow:scroll;
}