.wrapper {
	font-family: Helvetica, sans-serif;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
	height: 100%;
	text-align: center;
}

.drinks, .food{
	float: left;
	width: 50%;
	padding: 0px;
	min-height: 100%;
	height: 100%;
	padding-bottom: 100%;
	margin-bottom: -100%;
}

.food{
	color: white;
	background-color: black;
}

.drinks{
	background-color: white;
}

.wrapper h2 {
	text-decoration: underline;
	font-weight: normal;
}

@media (max-width: 600px), (max-device-width: 600px) {
.food, .drinks {
	float: none;
	display: inline-block;
	width: 100%;
	}
}
