

.wrapper {
	font-family: myFontdark;
	font-size:13px;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
	height: 100%;
	text-align: center;
}

.drinks, .food{
	float: left;
	width: 50%;
	padding: 0px;
	padding-bottom: 100%;
	margin-bottom: -100%;
}

.food{
	background-color:#281f1c;
	color: #fcf6f6;
}

.drinks{
	background-image: url("../img/drinks.jpg");
	height: 100%;
	min-height:600px;
}

#drinks_list, #food_list{
	list-style: none;
	line-height:30px;
	padding-top:50px;
	padding-left:15px;
	text-align:center;
	width: 100%;
}

td {
	text-align: left;
	padding-left: 75px;
}

.wrapper h2 {
	/*text-decoration: underline; */
	font-weight: normal;
}

#menu_title_food, #menu_title_drinks{
	font-family:myFont, sans-serif;
	font-size:250%;
	border-bottom:solid #FCF6F6 1px;
	display:inline;
	padding-bottom:5px;
	padding-top:15%;
}

#menu_title_drinks{
	border-bottom: solid #281F1C 1px;
}

@media (max-width: 768px), (max-device-width: 768px) {
	.food, .drinks {
		float: none;
		display: inline-block;
		width: 100%;
		min-height: 200px;
		}
	
	.drinks {
		background-repeat: no-repeat;
		height: 100%;
	}
	
	#drinks_list, #food_list{
	padding-top:0px;

}
	
	#menu_title_drinks, #menu_title_food{
	padding-bottom:0px;
	padding-top:5%;
    }
}
