/*

File name: food_style.css
Written by: Lauri Koikkalainen
When: November 2017
Purpose: Stylesheet for food_drinks.html

*/

.wrapper {    /* a wrapper div to keep the divs for food and drinks in place */
	font-family: myFont, sans-serif;
	font-size:13px;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
	height: 100%;
	text-align: center;
}

.drinks, .food{
	float: left;
	width: 50%;
	padding: 0px;
	padding-bottom: 90%;
	margin-bottom: -100%;
	padding-top:10%;
}

.food{  /* div for food */
	background-color:#281f1c;
	color: #fcf6f6;
}

.drinks{  /* div for drinks */
	background-image: url("../img/drinks.jpg");
	height: 100%;
	min-height:600px;
}

#drinks_list, #food_list{ /* IDs for the tables that make up the menu (food & drinks) */
	line-height:30px;
	padding-top:50px;
	padding-left:15px;
	text-align:center;
	width: 100%;
}

td {
	text-align: left;
	padding-left: 75px;
}

.wrapper h2 {
	/*text-decoration: underline; */
	font-weight: normal;
}

#menu_title_food, #menu_title_drinks{ 
	font-family:myFont, sans-serif;
	font-size:250%;
	border-bottom:solid #FCF6F6 1px;
	display:inline;
	padding-bottom:5px;
}

#menu_title_drinks{
	border-bottom: solid #281F1C 1px;
}

@media (max-width: 768px), (max-device-width: 768px) {
	body, html {
		width: 100%;
	}
	.food, .drinks {
		float: none;
		display: inline-block;
		width: 100%;
		min-height: 200px;
		padding-bottom: 100%;
		}
	
	.drinks {
		background-repeat: no-repeat;
		background-size: cover;
		height: 100%;
	}
	
	#drinks_list, #food_list{
	padding-top:0px;

}
	
	#menu_title_drinks, #menu_title_food{
	padding-bottom:0px;
	padding-top:5%;
    }
}

/*
Léa Gaigeot, Lauri Koikkalainen, André Garcia Gomez, Aurianne Vienney
November 2017
Web Technologies
*/