@charset "UTF-8";
/* Form Style */
.form{
	position:relative;
    font: 95% myFont, sans-serif;
    width: 41%;
    padding: 16px;
    background: #F7F7F7;
	margin-left:auto;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="tel"],
.form textarea,
.form select
{
	outline: none;
    box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% myFont, sans-serif;
}

.form input[type="submit"],
.form input[type="button"]{
    box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #FF2979;
    border-bottom: 2px solid #BE0055;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
}

.form input[type="submit"]:hover,
.form input[type="button"]:hover{
    background: #BE0055;
}

#submit{
	font-family:myFont, sans-serif;
}

.alignRight{
	position:absolute;
	width:50%;
}

@media only screen and (max-width: 1000px) {
  .alignRight{
    display: none;
  }
  .form{
    position: absolute;
    left:25%;
  }
}
