/*****************************GENERAL**********/
  /* for all the links*/
    /* unvisited link */
    #menu_button:link {
        color: white;
    }

    /* visited link */
    #menu_button:visited {
        color: white;
    }

    /* mouse over link */
    #menu_button:hover {
        color: hotpink;
    }

    /* selected link */
    #menu_button:active {
        color: pink;
    }
	
	/*body characteristics*/
	body{
		margin:0;
		padding:0;
		font-family: Arial, Helvetica, sans-serif;
	}

/********************/
  /*Title Section Style*/

  .space{
  	height: 66px;
  }

  .titleSection {
	background: #FF2979;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: white;
    margin: -16px -16px 16px -16px;
}

/************************************************************************************/
