/*****************************FIRST MENU********************************************/
/*div that contant the Menu1 and the img_menu*/
#container{
    position: relative;
    padding:0;
    margin:0;
}
/*image background*/
#img_menu{
  position: absolute;
  width: 100%;
}

/*ID of the menu id*/
#Menu1{
  position: absolute;
  color: white;
  left:4%;
}

#menu1H1{
	width:95%;
	text-align:center;
	line-height:155%;
	margin-top:30%;
	margin-bottom:5%;
	margin-left:auto;
	margin-right:auto;
}
#menu1li{
	display:inline;
	font-size:100%;
	margin-right:20px;
	margin-left:20px;

}
/*Kafé Soil*/
#menu1H2{
	text-align:center;
	float:center;
	font-size:140%;
	margin-top:5%;
	letter-spacing:5px;
}
/*Café & Bar*/
#menu1H3{
	text-align:center;
	font-size:90%;
	margin-top:5%;
	margin-bottom:30%;
	letter-spacing:2px;
}

/***********************************************************************************/
/**************************** SECOND MENU ******************************************/
/*id of the menu of the second menu*/
#Menu2{
  position: fixed;
  top:0;
  left:0;
  right:0;
  background-color:  #666666;
  display: none;
  z-index: 999;
}


#button1_img {
  position: absolute;
    border-radius: 50%;
    height: 70%;
    width: 3%;
    bottom: 20%;
    left: 1%;
}

/* Buttons second menu*/
.button1 {
  background-color:  #666666;
  border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 margin: 4px 2px;
 cursor: pointer;
 float: right;
}
/*************************************************************************************/
/*****************************GENERAL*********************************************/
  /* for all the links*/
    /* unvisited link */
    #menu_button:link {
        color: white;
    }

    /* visited link */
    #menu_button:visited {
        color: white;
    }

    /* mouse over link */
    #menu_button:hover {
        color: hotpink;
    }

    /* selected link */
    #menu_button:active {
        color: pink;
    }
  /********************/
  /*Positions*/
  #volunteer{
    position: absolute;
    top: 310%;
    width: 100%;
  }

  #art{
    position: absolute;
    top: 210%;
    width: 100%;
  }
  
  #events{
    position: absolute;
    top: 110%;
    width: 100%;
  }
  
/********************/
  /*Title Section Style*/
  
  .space{
  	height: 66px;
  }
  
  .titleSection {
	background: #FF2979;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: white;
    margin: -16px -16px 16px -16px;
}

  /**********/
/**************************************************************************************/
/******************************ART*****************************************************/
/*Div that contain all the art*/
.container_art{
  position: absolute;
  width: 100%;
}
/*div that contain the menu with pictures*/
.container_art2{
  position: relative;
  width: 100%;
  top:20%;
  background-color: pink;
}
/*Pictures in display*/
.pictures{
  position: relative;
    left:20%;
    display: none;
}
/*Css preload to only show one image and artist*/
#princi{
  display: block;
}
/**/
.principal_picture{
  position: relative;
  width: 80%;
}

/*to dont display display all the artist*/
.pictures_artist{
  display: none;
}

/*button of next*/
.next{
  position: relative;
  border-radius: 12px;
  left:70%;
  bottom:100%;
}
/*button of after*/
.after{
  position: relative;
  border-radius: 12px;
  left:14%;
}


/************************************************************************************/
/* ------ Form Style ------ */
.form{
    font: 95% Arial, Helvetica, sans-serif;
    width: 41%;
    padding: 16px;
    background: #F7F7F7;
	float:left;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="tel"],
.form textarea,
.form select
{
	outline: none;
    box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}

.form input[type="submit"],
.form input[type="button"]{
    box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #FF2979;
    border-bottom: 2px solid #BE0055;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
}

.form input[type="submit"]:hover,
.form input[type="button"]:hover{
    background: #BE0055;
}

.alignRight{
	width:50%;
	float: right;
}

/* ------ End of Form Style ------ */
