#bye{
  position: fixed;
  top:0;
  left:0;
  right:0;
  background-color:  #666666;
  display: none;
}

.first_menu_img{
  width: 100%;
  height: 100%;
}

.img_icon {
  position: absolute;
    border-radius: 50%;
    height: 70%;
    width: 3%;
    bottom: 20%;
    left: 1%;
}

button {
  background-color:  #666666;
  border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 margin: 4px 2px;
 cursor: pointer;
 float: right;
}

.button1{
  color: #ff66cc;
}

.button2{
  color: white;
}

.button3{
  color: white;
}

.button4{
  color:white;
}

.button5{
  color:white;
}

.button6{
  color:white;
}
