<?xml version="1.0" encoding="UTF-8"?>
<menu>
  <submenu type="food">
    <element name="chocolate cake" price="20 kr"></element>
    <element name="Cookies" price="30 kr"></element>
    <element name="Banana" price="5 kr"></element>
    <element name="Cheese" price="200 kr"></element>
  </submenu>
  <submenu type="drinks">
    <element name="Pinapple juice" price="10 kr"></element>
    <element name="Cafe" price="30 kr"></element>
    <element name="Water" price="500 kr"></element>
    <element name="Vodka" price="10 kr"></element>
  </submenu>
</menu>
