article {
    font-family: "Georgia", Times, serif;
    margin: auto;
    max-width: 75em;
    min-width: 65em;
    font-size: 22px;
}

img{
  max-width: 75em;
  min-width: 65em
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.8em;
}

p, blockquote, ul, ol {
    font-size: 1em;
}

body {
    background-color: #D3D3D3;
    line-height: 150%;

}


#facts {
    background-color: #A9A9A9;
    margin: 1em 0em 1em 1em;
    width: 50%;
    border: 1px dashed;
    float: right;
}

#facts > ul {
    list-style-image: url('cup-icon.svg');
    line-height: 1.5em;
    padding-left: 1.5em;
}
